<section class="main-header">
  <img src="<%= asset_path "mzl_krmtcmyd.png" %>">

  <h1>つぃーと</h1>
</section>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

